{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'django_odc/css/ml_base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'django_odc/css/django_odc.css' %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'django_odc/js/vendor/jquery.bindWithDelay.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/vendor/jquery.livequery.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript_url_bridge' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/site.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/statistics_and_administration.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/datasets.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/dataset.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/source.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/modals/modal_channel_types.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/modals/modal_configure_polling_source.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/modals/modal_configure_post_adapter_source.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/modals/modal_confirmation.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/modals/modal_configure_dataset_users.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/modals/modal_twitterv01_authentication.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_odc/js/loading.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            //Init the site ui framework
            $.django_odc_site.init({focus_dataset_id: '{{ focus_on_dataset_id }}'});
        })
    </script>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <div id="your-datasets" class="container-with-header">
                <h2 class="header">
                    <a class="btn btn-small" id="add-dataset-button">add a dataset</a>
                    Your Datasets
                </h2>
                <div class="content">
                    <div id="datasets-container">
                        {% include 'django_odc/loading.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="span3">
            <h2>All your sources</h2>

        </div>
        <div id="statistics" class="span3">
            <div class="container-with-header">
                <h2 class="header">Aggregator Status</h2>
                <div class="content">
                <table id="aggregator-status-table">
                    <tr>
                        <th>
                            <abbr title="Polling sources include Feeds">Polling Sources</abbr>
                        </th>
                        <td>
                            <span class="label" id="aggregator-poll-now-label-inactive"><i class="icon-off"></i> inactive</span>
                            <span class="label label-success hide" id="aggregator-poll-now-label-running"><i class="icon-spin icon-spinner"></i> running</span>
                        </td>
                        <td>
                            <a id="aggregator-poll-now-button" class="btn btn-mini tipped" title="Click to manually refresh the polling sources now">
                                <i class="icon-refresh"></i>
                            </a>
                        </td>
                    </tr>
                </table>
                </div>
            </div>
            <div class="container-with-header">
                <h2 class="header">Administration</h2>
                <div class="content">
                    <table id="administration-table">
                        <tr>
                            <th><abbr title="This will kill all currently running sources.">Kill all running</abbr></th>
                            <td>
                                <a id="kill-all-source-button" class="btn btn-danger btn-mini tipped" title="Kill all running sources">
                                    <i class="icon-remove"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th><abbr title="This will clear all data from all the data stores">Clear sources</abbr></th>
                            <td>
                                <a id="clear-all-data-button" class="btn btn-danger btn-mini tipped" title="Clear all data in the data stores">
                                    <i class="icon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container-with-header" id="authentication">
                <h2 class="header">Channel Authentication</h2>
                <div class="content">
                    <div id="authentication-list"></div>
                </div>
            </div>
            <div class="container-with-header" id="run-records">
                <h2 class="header">Aggregation History</h2>
                <div class="content">
                    <div id="run-records-list"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="hide">
        {% include 'django_odc/modal_channel_types.html' %}
        {% include 'django_odc/modal_confirmation.html' %}
        {% include 'django_odc/modals/configure_polling_source/configure_polling_source.html' %}
        {% include 'django_odc/modals/configure_post_adapter_source/configure_post_adapter_source.html' %}
        {% include 'django_odc/modals/configure_dataset_users/configure_dataset_users.html' %}
        {% include 'django_odc/modals/configure_twitterv01_authentication/twitterv01_authentication.html' %}
    </div>
{% endblock %}